@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: #fcfcfc;
}

#header1 {
  background-color: #4f8324;
}
#header1 p {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 16px;
}
#header1 p a {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

#header2 a {
  font-family: "Poppins", sans-serif;
  color: #3E4546;
  font-size: 16px;
}
#header2 a:hover, #header2 a a.active {
  font-family: "Poppins", sans-serif;
  color: #4f8324;
  font-size: 16px;
  font-weight: 500;
}
#header2 a.active {
  font-family: "Poppins", sans-serif;
  color: #4f8324;
  font-size: 16px;
  font-weight: 500;
}

#banner .owl-theme .owl-dots .owl-dot span {
  width: 40px;
  height: 4px;
  border-radius: 0px;
}
#banner .owl-theme .owl-dots .owl-dot.active span,
#banner .owl-theme .owl-dots .owl-dot:hover span {
  background: #4f8324;
}

#offers .card {
  background-color: #f9f9f9;
  border: 0;
}

#discount {
  background-color: #f9f9f9;
  border: 0;
}
#discount h4 {
  font-family: "Poppins", sans-serif;
  color: #025685;
  font-size: 21px;
  font-weight: 600;
}

#footer #footer1 h5 {
  font-family: "Poppins", sans-serif;
  color: #025685;
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 576px) {
  #footer #footer1 h5 {
    font-family: "Poppins", sans-serif;
    color: #025685;
    font-size: 18px;
  }
}
#footer #footer1 p {
  font-family: "Poppins", sans-serif;
  color: #3e454c;
  font-size: 16px;
}
#footer #footer1 p a {
  font-family: "Poppins", sans-serif;
  color: #3e454c;
  font-size: 16px;
  text-decoration: none;
}
@media (max-width: 576px) {
  #footer #footer1 p a {
    font-family: "Poppins", sans-serif;
    color: #3e454c;
    font-size: 14px;
  }
}
#footer #footer1 p a:hover {
  color: #025685;
}
#footer #footer2 {
  background-color: #4f8324;
}
#footer #footer2 p {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 16px;
}